<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/bolly2.css') }}" rel="stylesheet" />
</head>
<div class="main_box">
    <input type="checkbox" id="check" />
    <div class="btn_one">
        <label for="check">
            <i class="fa-solid fa-bars"></i>
        </label>
    </div>

    <div style="z-index: 4;" class="sidebar_menu">
        <div class="logo">
            <a href="#">Pocket Theatre</a>
        </div>

        <div class="btn_two">
            <label for="check" style="color: grey;">
                <i class="fa-solid fa-xmark"></i>
            </label>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <a href="/"><i class="fa-solid fa-house"></i>Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-play"></i>Sunday Special</a>
                </li>
                <li class="autop">
                    <a class ="autop2" href="#"><i class="fa-solid fa-heart"></i>Wishlist</a>

                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-phone"></i>Contact</a>
                </li>
                <li>
                    <a href="#"><i class="fa-regular fa-comments"></i>Feedback</a>
                </li>
            </ul>
        </div>
        <div class="social_media">
            <ul>
                <!-- <a href="#"><i class="fa-brands fa-facebook"></i></a> -->
                <!-- <a href="#"><i class="fa-brands fa-x-twitter"></i></a> -->
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </ul>
        </div>
    </div>
</div>
<body style="background-color:#100C08;">

    <!-- New segment -->

    <!-- ends here -->


    <!--<div style="z-index: 2;"class="header">-->
    <!--    <p class="mov">Today's Movie</p>-->
    <!--    <div style="padding-top: 100px; margin-left: 70px;"class="header2">-->
    <!--        <iframe src="https://drive.google.com/file/d/1s8X6ecimGu63oC0W1wCCWyQEbM7ZYNV0/preview" width="700px" height="400px" allow="autoplay"></iframe>-->
    <!--    </div>-->
        <!-- <iframe src="https://drive.google.com/file/d/1lF5VJhW46RCDPwxVfVKgOlkaCOGN77OW/preview" width="640" height="480" allow="autoplay"></iframe> -->
        <!-- <video style="z-index: 3;"controls src="{{ url_for('static', filename='/vid/pichavaram.mp4') }}" width="400px"></video> -->

    <!--</div>-->
    <h1 style="color: white; margin-top: 30px; margin-left: 20px; margin-bottom:20px; text-decoration: underline; font-family: Staatliches;">Today's Movie</h1>
    <!--<iframe class="chan" src="https://drive.google.com/file/d/1s8X6ecimGu63oC0W1wCCWyQEbM7ZYNV0/preview" allow="autoplay"></iframe>-->
    <h2 style="color: aliceblue; margin-left:20px; font-family: 'Poiret One', sans-serif; ">Salaar_Part1: CEASEFIRE</h2>
    <br>
    <script src="https://fast.wistia.com/embed/medias/52f60p90qd.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:42.08% 0 0 0;position:relative; border: solid whitesmoke; border-radius: 10px; overflow: hidden;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_52f60p90qd popover=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    <br>
    <h2 style="color: aliceblue; margin-left:20px; font-family: 'Poiret One', sans-serif;">Jailer (2023)</h2>
    <br>
    <script src="https://fast.wistia.com/embed/medias/scwcavqf1i.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:42.08% 0 0 0;position:relative; border: solid whitesmoke; border-radius: 10px; overflow: hidden;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_scwcavqf1i popover=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    <br>
    <h1 style="color: white; margin-top: 30px; margin-left: 20px; margin-bottom:20px; text-decoration: underline; font-family: Staatliches;">Today's WebSeries</h1>
    <br>
    <h2 style="color: aliceblue; margin-left:20px; font-family: 'Poiret One', sans-serif;">Immature Season 3 Ep: 1-5</h2>
    <br>
    <script src="https://fast.wistia.com/embed/medias/ojoq0u99j2.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:42.08% 0 0 0;position:relative; border: solid whitesmoke; border-radius: 10px; overflow: hidden;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ojoq0u99j2 popover=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>

    <!--<script src="https://fast.wistia.com/embed/medias/c9rx67sxho.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_c9rx67sxho seo=true videoFoam=false" style="height:450px;position:relative;width:700px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/c9rx67sxho/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>-->
</body>
</html>